.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #1E293B;
  padding: 2rem;
  color: #F8FAFC;
  max-width: 180rem;
}

.navbar-center {
  grid-column: 2;
  justify-self: center;
}

.navbar-center a {
  text-decoration: none;
  color: #F8FAFC;
  font-size: 2rem;
  font-family: serif;
  white-space: nowrap;
}

.navbar-center a:hover {
  text-decoration: underline;
}

.navbar-right {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-right a {
  text-decoration: none;
  color: #F8FAFC;
  font-size: 1rem;
}

.navbar-right a:hover {
  text-decoration: underline;
}


@media (max-width: 500px) {
    .navbar{
        display: block;
        padding: 1rem 1rem;
    }

    .navbar-center{
        font-size: 1rem;
        font-family: serif;
        padding-bottom: 1rem;
        grid-column: 1;
        justify-self: center;
        margin-bottom: 1rem;
    }

    .navbar-center a{
        text-decoration: none;
        color: #F8FAFC;
        font-size: 1.4rem;
        font-weight: 900;
        margin: auto;
    }

    .navbar-right{
        grid-column: 1;
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-right a{
        text-decoration: none;
        color: #F8FAFC;
        font-size: 1rem;
        margin: auto;
    }
}